<div class="container-fluid" id="l2-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% @categories.each do |cat| %>
          <%#= link_to cat.name, refinery.categories_categories_path(cat) %>
          <%= cat.name %>
        <% end %>
      </div>
    </div>
  </div>
</div>
