<div class="container-fluid" id="l2-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
          <%= @category.name %>
        
      </div>
    </div>
  </div>
</div>