<%#= render '/refinery/content_page' %>

<div id="main-image" style="background-image:url('/assets/c-4-Front-ExteriorALTRA-600h.jpg');">


</div>


<!-- <div id="home-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4" id="overlay">
          <h1>100 Harbour View</h1>
          <p>Once the offices of Heilemen's, First Logic and Business Objects Wieser help convert this building into multi-use spaces including offices and the Four Sisters restaurant.
            <h4><i class="fa fa-chevron-right"></i> Learn more</h4>
          </p>
        </div>
        <%#= image_tag 'harbour-view.jpg', class: 'img-responsive'  %>
      </div>
    </div>
  </div>
</div> -->

<div id="buckets">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <div class="well well-sm">
            <h3>Why Wieser Brothers</h3>
            <%= image_tag 'contractors.jpg', class: 'img-responsive' %>
            <a href="/"><small>Learn more about Wieser Brothers</small></a>
          </div>
      </div>
      <div class="col-md-4">
        <div class="well well-sm">
          <h3>Projects</h3>
          <%= image_tag 'hero_8918.jpg', class: 'img-responsive' %>
          <a href="/"><small>View our latest projects</small></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-sm" id="trust"> <!-- testimonial -->
          <h3>Trust</h3>
          <h3>Partnership</h3>
          <h3>Excellence</h3>
          <a href="/"><small>Learn more</small></a>

        </div>
      </div>
    </div>
  </div>
</div>