<div class="address">
  <p>200 Twilite Street<br />
    La Crescent, MN 55947<br />
    507-895-8903<br />
    Fax 507-895-8438<br />
    <%= mail_to 'info@wieserbrothers.com', "info@wieserbrothers.com" %></p>
</div>