<div id="buckets">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <div class="well well-sm">
            <h3>Why Wieser Brothers</h3>
            <%= image_tag 'contractors.jpg', class: 'img-responsive' %>
            <a href="/our-firm"><small>Learn more about Wieser Brothers</small></a>
          </div>
      </div>
      <div class="col-md-4">
        <div class="well well-sm">
          <h3>Projects</h3>
          <%= image_tag 'hero_8918.jpg', class: 'img-responsive' %>
          <a href="/projects"><small>View our latest projects</small></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-sm" id="trust"> <!-- testimonial -->
          <h3>Trust</h3>
          <h3>Partnership</h3>
          <h3>Excellence</h3>
          <a href="/our-commitment"><small>Learn more</small></a>

        </div>
      </div>
    </div>
  </div>
</div>