<!-- 
<div class="row">
  <div class="text-right">
 -->


    <!-- col-xs-8 col-sm-10 -->

      <%= form_tag refinery.search_path, class: 'form-inline' do -%>
        <div class="form-group ">
          <%= text_field_tag :query, {}, {:type => "search",
                             :placeholder => "Search",
                             :class => 'form-control input-sm col-sm-8',
                             :style => 'padding-top:5px;',
                             :value => (params[:query] if params[:query])} %>

        
        </div>
        <%= submit_tag 'Go', class: 'form-control btn btn-default input-sm search-btn' %>

        

      <% end %>

<!--       
  </div>
</div>
 -->


  