<%= form_tag refinery.search_path, class: 'form-inline' do -%>
<div class="form-group">
  <%= text_field_tag :query, {}, {:type => "search",
                     :placeholder => "Search site for...",
                     :class => 'form-control',
                     :value => (params[:query] if params[:query])} %>
</div>
  <%= submit_tag 'Go', class: 'btn btn-default' %>
<% end %>