@import 'variables.css.scss';
/* custom styles */
body {
  margin:10px;
  background-color:darken($white, 2%);
}

.navbar {
  font-family: $headline-font;
  text-transform: uppercase;
  font-size:14px;
}

h1 {
  font-family: $main-font;
  color:$wb-green;
}
p, li {
  color:$wb-txt-color;
  
}

#pre-header {
  text-align:center;
  background-color:$wb-green-dark;
  font-size:12px;
  color:$white;
  padding:5px;
  span {
    position:relative;
    z-index:15000;
  }
  a {
    color:$wb-text;
  }

}

#pre-mobile {
  margin-top:40px;
  span {display:block;margin:20px 0px;}
}

#top {
  background-color:$wb-green;
  height:110px;
  margin-top:20px;
  img {
    padding:0 10px;
    margin-top:5px;
    // background-color:$wb-green;

  }

  .search-btn {
    font-family: $headline-font;
    text-transform: uppercase;
    font-weight: bold;

  }

  .input-sm {
    line-height: 1.3;
  }


  #nav-side {
    
    padding-top:0px;
    position:relative;
    z-index:10000;
    height:85px;
    top:-75px;
    left:0px;
    text-align:right;
  }

}

.navbg {
  position:relative;
  background-color:rgba(5,42,29, 0);
  z-index: 2000;
}

.navbg .nav {
  -webkit-transform: translateZ(0px);
  // position:absolute;
  li.active {
    background-color:rgba(5,42,9, 1);
  }
  li a:hover {
    //background-color:lighten(rgba(5,42,9, 1), 10%);
    background-color:$wb-green;
  }
  
}

#welcome {
  position:absolute;
  z-index:30001;
  font-family: $main-font;
  background-color:rgba(0,0,0,.7);
  left:10%;
  top:200px;
  padding:15px 20px 20px 20px;
  color:rgba(255,255,255,1);
  font-weight: 100;
  -webkit-transform: translateZ(0px);
  p {
    color:rgba(255,255,255,.7);
  }
}

.main-image {
  min-height:600px;
  background-size:cover;
  background-position-y:50%;
  background-position-x:50%;
  background-repeat:no-repeat;
 
}

.carousel-inner {
  z-index:0;
}


.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 0;
    
  }

  .carousel-indicators {
    bottom:80px;
  }
}





#home-main {
  background-color:darken($wb-green,2%);
  background-image:url('triangular3.gif');
  position:relative;
  max-height:520px;
  padding:20px 0 80px 0;
  img {
    margin:0px auto;
    border:10px solid rgba(0,0,0,.2);
  }
  #overlay {
    position:absolute;
    height:220px;
    background-color:rgba(0,0,0,.8);
    z-index:20;
    top:25px;
    right:0px;
    color:$white;
    padding:20px;
    box-shadow:1px 1px 10px rgba(0,0,0, .7);
    border-top:1px dotted rgba(255,255,255,.5);
    border-left:8px solid $wb-skyblue;
    border-bottom:1px solid rgba(255,255,255,.2);
    border-right:1px solid rgba(255,255,255,.2);
    p, h1 {
      color:rgba(255,255,255, .7);
    }
  }

}

#sidebar {
  blockquote {
    background-color:rgba(200,200,200,.1);
    padding:30px;
    margin-top:20px;
    color:rgba(0,0,0,.4);
    font-family: Times, serif;
    font-style: italic;
    font-size:20px;
    border-left:none;
    small {
      color:rgba(0,0,0,.6);
    }
    p {
      font-family: Times, serif;
      font-style: italic;
      font-size:20px;

    }
  }
}

#buckets {
  margin-top:-60px;
  background-image:url('smooth_wall.png');
  // background-image:url('dots.png');
  background-repeat:repeat;
  background-position-y:95%;

  .well {
    margin-top:-20px;
    min-height:250px;
    box-shadow:1px 1px 9px rgba(0,0,0,.4);
    background-repeat:repeat-x;
    background-position-y:15px;
    border-top:2px solid darken($white, 2%);
    padding-top:20px;
  }
  #trust {
    
    border-top:2px solid darken($white, 2%);
    color:darken($wb-text, 20%);
    h3 {
      
      color:darken($wb-text, 30%);
      font-size:43px;
      line-height: .85em;
    }
    a {padding-top:18px;}
  }
  h3 {
    font-family: $headline-font;
   
    padding:0px 10px;
    font-size:17px;
    margin-top:0px;
    // display:inline;
    text-transform: uppercase;
    font-weight: bold;
    color:rgba(0,0,0,.3);
  }
  img {
    margin:10px 0;

  }
  small {
    font-weight: bold;
  }
  blockquote {

    border-left:none;
    font-weight:200;
    font-size:20px;


    small {
      margin-top:1em;
      color:rgba(0,0,0,.4)
    }
  }


}

#mission-statement {
  background-color:$wb-green;
  padding:60px 0 80px 0;
  
  h2 {
    font-family: $headline-font;
    color:lighten($wb-green, 12%);
  }
  p {
    color:rgba(255,255,255,.5);
    font-size:18px;
  }
}

#l2-main {
  min-height:80vh;
  padding-top:80px;
  margin-bottom:120px;
  color:$wb-text;
  h1, h2, h3 {
    font-family:$headline-font;
    color:darken($wb-text, 40%);
  }
  h3 {
    color:darken($wb-text, 25%);
  }
  p {
    font-family:$main-font;
  }
  .address {
    margin-top:20px;
    padding-top:20px;
    border-top:1px solid rgba(0,0,0, .1);
  }

} 

.projects {
  min-height:200px;
  font-size:14px;
  a {
    font-family: $headline-font;
    color:$wb-green;
  }
  a img {
    margin-bottom:10px;
    &:hover {opacity:.8;}
  }

}

.inquiries label {
  color:darken($wb-text, 40%) !important;
}

.news {
  img {
    border:5px solid rgba(0,0,0,.2);
    margin:20px 0 20px 0;
  }
}

#recent_news_items {
  ul {
    margin-left:0;
    padding-left:0;
    margin-top:2em;

  }
  li {
    list-style:none;
    padding:1em 0;
    border-top:1px dotted rgba(0,0,0,.1);

  }

}

.service-link {
  margin:20px 0 20px 0;
}


.service-link a {
  border:1px solid rgba(0,0,0,.1);

  display:block;
  height:150px;
  margin:0px;
  padding:15px;
  font-size:18px;
  color:$wb-green;
  font-family: $headline-font;
  line-height:1.15em;
  &:hover {
    text-decoration: none;
    color:rgba(0,87,60, .5);
  }
}

#emp-opp-links {
  li {font-size:16px;}
  border-bottom:1px solid rgba(0,0,0,.1);
  padding-bottom:1.5em;
  margin-bottom:2em;
}




footer {
  // background-image:url('dots.png');
  // background-repeat:repeat-x;
  // background-position-y:2px;
  background-color:darken($white, 7%);
  padding:20px;
  margin-top:0px;
  min-height:10vh;
  box-shadow:-1px 0px 14px rgba(0,0,0,.4);
}
