@import 'variables.css.scss';
/* bootstrap overrides - http://getbootstrap.com/customize/ */

$grid-gutter-width:20px;

$grid-float-breakpoint:991px;

$navbar-default-bg:transparent;
$navbar-default-color:$white;
$navbar-default-link-color:$white;
$navbar-default-link-active-color:$white;
$navbar-default-link-hover-color:$wb-text;
$navbar-default-link-hover-bg:darken($wb-green, 10%);
$navbar-height:35px;
$navbar-border-radius:0px;