/* variables */
$main-font:'Varela', sans-serif;
$headline-font:'Oswald', sans-serif;
$wb-green:#004a30;
// 0,74,48
$wb-skyblue:#6dd0f7;
// $wb-orange:#ff6914;
$wb-orange:lighten(gray,47%);
$wb-txt-color:#808080;
$white:#ffffff;

